





body{
background-color:green;
}
header{
  background-color:orange;
  
}
footer{
  background-color:gray;

  clear:both;
}



.box{
  background-color:red;
 width:300px;
 margin:5px;
 float:left;
  }

  aside{
    background-color:green;
  }
  aside{
    background-color:purple;
 width :200;
 float:right;
  }
  
